.App {
  text-align: center;
}
.App-header {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,44,52,1) 0%, rgba(131,71,230,1) 47%, rgba(18,164,194,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 100px;
}
img {
  border: 3px solid white;
}

/* HOME PAGE CSS */
.exploreButton {
  width: 500px;
  margin-bottom: 40px;
}

.potd {
  max-width: 900px;
  height: auto;
  margin-right: -50px;
  margin-bottom: 10px;
}

.potdTEXT {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: small;
  text-align: right;
  width: 900px;
}
#potdALL {
  padding-top: 45%;
  display: flex;
  flex-direction: column;
}

#header{
  padding-top: 30%;
}






.marsPhoto, .enginePhoto {
  width: 300px;
  height: auto;
  margin: 10px;
}
#marsPhotoss, #engine {
  display: flex;
}

